.MMM-ping .list,
.MMM-ping-modal .list {
    text-align: left;
}

.MMM-ping div.colored.green,
.MMM-ping-modal div.colored.green {
    color: green;
}

.MMM-ping div.colored.red,
.MMM-ping-modal div.colored.red {
    color: red;
}
