<div class="MMM-ping-modal list">
    {% for entry in data.status %}
        <div class="{% if data.config.colored %}colored {% endif %}{% if entry.online %}green{% else %}red{% endif %}">
            <i class="fa fa-circle{% if not entry.online %}-o{% endif %}"></i>
            {{ entry.host }}
        </div>
    {% endfor %}
</div>
